<esa-banner></esa-banner>
<div class="my-container mt-18">
    <div class="border-4 border-solid rounded border-primary px-10 py-10">
        <div class="flex flex-row justify-between items-center">
            <p class="font-semibold text-[35px]">
                <i class="fa fa-star mr-3"></i>
                <span class="uppercase">free shipping</span>
            </p>
            <p class="text-base">
                Free Delivery Now On Your First Order and over $200
            </p>
            <p class="font-semibold uppercase text-[35px]">- only $200*</p>
        </div>
    </div>
</div>

<div class="my-container mt-18">
    <div class="flex flex-row gap-8">
        <div class="relative w-1/3">
            <div class="w-[98%] h-[90%] overflow-hidden">
                <!-- overflow-hidden de width height ko bi lo ra khi img scale -->
                <img src="/assets/images/sub-banner-1.jpg" class="fluid-img rounded-md">
            </div>
            <div class="absolute lg:top-10 lg:left-6 flex flex-col justify-between gap-4">
                <p class="font-semibold text-2xl">Samsung Gear<span class="block">VR Camera</span></p>
                <p class="text-primary font-medium text-xl">$129.00</p>
                <p class="uppercase underline">Shop Now</p>
            </div>
        </div>
        <div class="relative w-1/3">
            <div class="w-[98%] h-[90%] overflow-hidden">
                <img src="/assets/images/sub-banner-1.jpg" class="fluid-img rounded-md bg-cover">
            </div>
            <div class="absolute lg:top-10 lg:left-6 flex flex-col justify-between gap-4">
                <p class="font-semibold text-2xl">Samsung Gear<span class="block">VR Camera</span></p>
                <p class="text-primary font-medium text-xl">$129.00</p>
                <p class="uppercase underline">Shop Now</p>
            </div>
        </div>
        <div class="relative w-1/3">
            <div class="w-[98%] h-[90%] overflow-hidden">
                <img src="/assets/images/sub-banner-2.jpg" class="fluid-img rounded-md bg-cover">
            </div>
            <div class="absolute lg:top-10 lg:right-6 flex flex-col justify-between gap-4">
                <p class="font-semibold text-2xl">Marcel Dining<span class="block">Room Chair</span></p>
                <p class="text-primary font-medium text-xl">$129.00</p>
                <p class="uppercase underline">Shop Now</p>
            </div>
        </div>
    </div>
</div>

<div class="my-container py-8 mt-18">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>

<div class="my-container mt-18">
    <div class="flex flex-row gap-8">
        <div class="relative w-1/2">
            <div class="w-[98%] h-[98%] overflow-hidden">
                <img src="/assets/images/cms-banner-5.jpg" class="fluid-img rounded-md" style="height: auto;">
            </div>
            <div class="absolute lg:top-6 lg:left-6 flex flex-col justify-between gap-8">
                <p class="text-black font-normal text-xl">Save Up To 20% Off</p>
                <p class="font-medium text-3xl">Samsung Gear<span class="block">VR Camera</span></p>
                <p class="btn-primary uppercase text-center self-start">Shop Now</p>
            </div>
        </div>
        <div class="relative w-1/2">
            <div class="w-[98%] h-[98%] overflow-hidden">
                <img src="/assets/images/cms-banner-4.jpg" class="fluid-img rounded-md" style="height: auto;"> 
                <!-- h-auto override h-full in fluid-img class -->
            </div>
            <div class="absolute lg:top-6 lg:left-6 flex flex-col justify-between gap-8">
                <p class="text-black font-normal text-xl">Best Online Discount</p>
                <p class="font-medium text-3xl">Samsung Gear<span class="block">VR Camera</span></p>
                <p class="btn-primary uppercase text-center self-start">Shop Now</p>
            </div>
        </div>
    </div>
</div>

<div class="my-container my-18">
    <p class="text-heading">What Our Clients Say</p>
    <div class="flex flex-row justify-between mt-5">
        <esa-testimonial-card 
            [imgLink]="'/assets/images/user1.jpg'" 
            [name]="'Patrick Goodman'" 
            [designation]="'Manager'" 
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, like Aldus PageMaker including versions of Lorem Ipsum.'"
        >
        </esa-testimonial-card>
        <esa-testimonial-card 
            [imgLink]="'/assets/images/user1.jpg'" 
            [name]="'Patrick Goodman'" 
            [designation]="'Manager'" 
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, like Aldus PageMaker including versions of Lorem Ipsum.'"
        >
        </esa-testimonial-card>
        <esa-testimonial-card 
            [imgLink]="'/assets/images/user1.jpg'" 
            [name]="'Patrick Goodman'" 
            [designation]="'Manager'" 
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, like Aldus PageMaker including versions of Lorem Ipsum.'"
        >
        </esa-testimonial-card>
    </div>
</div>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>
<div class="my-container my-18">
    <div class="flex flex-row justify-between">
        <esa-feature 
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature 
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature 
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature 
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature 
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
    </div>
</div>