<div class="my-container my-12">
    <div class="flex flex-row gap-4">
        <div class="w-1/4 bg-black rounded"></div>
        <div class="w-3/4 form-container">
            <h2 class="text-2xl font-semibold mb-6">Log In to your account</h2>
            <form action="" class="border border-solid border-gray-50 rounded px-4 py-8">
                <div class="flex flex-col gap-4 items-center">
                    <div class="clear-fix self-stretch">
                        <div class="float-left w-1/4 text-right">
                            <label for="email" class="mr-4">Email</label>
                        </div>
                        <div class="float-left w-3/4">
                            <input type="email" id="email" name="email" class="w-3/4 border border-gray-200 border-solid rounded p-2">
                        </div>
                    </div>
                    <div class="flex flex-row items-center self-stretch">
                        <!-- self stretch to make thí flex container full with since it also a flex-item -->
                        <div class="w-1/4 text-right">
                            <label for="password" class="mr-4">Password</label>
                        </div>
                        <div class="w-3/4">
                            <input type="password" id="password" name="password" class="w-3/4 border border-gray-200 border-solid rounded p-2">
                        </div>
                    </div>
                    <p>Forgot your password?</p>
                    <div class="flex flex-col gap-4">
                        <button class="bg-primary text-white rounded py-3 px-8 uppercase">Sign In</button>
                    </div>
                    <div class="border-b-gray-50-solid-1px"></div>
                    <p>No account? Create one here</p>
                </div>
            </form>
        </div>
    </div>
</div>