<esa-header></esa-header>
<div class="flex flex-row gap-1 justify-between">
    <esa-catalog-card></esa-catalog-card>
    <esa-catalog-card></esa-catalog-card>
    <esa-catalog-card></esa-catalog-card>
    <esa-catalog-card></esa-catalog-card>
    <esa-catalog-card></esa-catalog-card>
</div>
<div class="flex flex-row gap-2 justify-start">
    <esa-product-card></esa-product-card>
    <esa-product-card></esa-product-card>
    <esa-product-card></esa-product-card>
    <esa-product-card></esa-product-card>
    <esa-product-card></esa-product-card>
</div>
<esa-footer></esa-footer>