<header>
    <esa-header-top-bar></esa-header-top-bar>
    <esa-header-banner></esa-header-banner>
</header>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row gap-2 justify-start">
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
    </div>
</div>
<esa-footer></esa-footer>