<div class="flex flex-row justify-around mx-auto text-gray-400 py-2" style="width: 98%; font-weight: 300;">
    <div>Get up 50% off new season styles, limited time only</div>
    <div class="flex flex-row justify-between">
        <p>Help Center</p>
        <p>Order Tracking</p>
        <p>English</p>
        <p>USD</p>
    </div>
</div>
<div class=" border-b border-gray-400 border-solid mb-9"> 
</div>
<div class="flex flex-row justify-between items-center mt-5">
    <div>
        <a href="#">
            <img 
                src="https://demos.codezeel.com/prestashop/PRS21/PRS210502/img/logo-1691412328.jpg"
            >
        </a>
    </div>

    <div class="flex flex-row justify-between items-center gap-2">
        <input type="text" placeholder="Search product here" style="width: 400px;" class="border rounded-md border-gray-400 border-solid p-2">
        <button class="py-3 px-5 text-gray-50 rounded" style="background-color: orange">Search</button>
    </div>

    <div class="flex flex-row justify-between items-center gap-2">
        <a href="#" class="text-gray-400">Login / Register</a>
        <a href="#" class="text-gray-400"><i class="fa fa-repeat flex items-center justify-center text-black" style="width: 50px; height: 50px;"></i></a>
        <a href="#" class="text-gray-400"><i class="far fa-heart flex items-center justify-center text-black" style="width: 50px; height: 50px;"></i></a>
        <a href="#" class="text-gray-400"><i class="fa fa-cart-plus flex items-center justify-center text-black" style="width: 50px; height: 50px;"></i></a>
    </div>
</div>

<div class=" border-b border-gray-400 border-solid mt-9"> 
</div>

<div class="flex flex-row justify-between items-center" style="width: 90%; margin: 0 auto;">
    <p class="uppercase">
        <i class="fa fa-star"></i>
        Shop By Categories
    </p>

    <div class="flex flex-row justify-between"> 
        <p class="p-6">Home</p>
        <p class="p-6">Fashion</p>
        <p class="p-6">New Arrivals</p>
        <p class="p-6">All Brands</p>
        <p class="p-6">More</p>
    </div>

    <p>
        <i class="fa fa-star"></i>
        Free International Shipping
    </p>
</div>

<div class="banner-container">
    <div class="upper-banner flex md:flex-row sm:flex-col gap-4 items-center">
        <div class="relative">
            <img src="/assets/images/sample-1.jpg">
            <div class="absolute lg:top-10 lg:right-1 " style="width: 360px;">
                <div class="heading flex flex-col justify-between gap-4">
                    <div class="lg:text-lg sm:text-md">Big Saving Days Sale</div>
                    <div class="lg:text-3xl sm:text-lg font-bold" style="line-height: 1.5;">Buy Modern Chair In Black Color</div>
                    <div class="lg:text-lg sm:text-md">Starting At Only <span class="text-red-600 text-3xl font-bold">$99.00</span></div>
                    <div class="inline-block py-2 px-4 text-gray-50 rounded bg-red-500 self-start">Shop Now</div>
                </div>
            </div>
        </div>
        <div class="flex sm:flex-row md:flex-col gap-2 items-stretch">
            <div><img src="/assets/images/sub-banner-1.jpg"></div>
            <div><img src="/assets/images/sub-banner-2.jpg"></div>
        </div>
    </div>
    <div class="lower-banner">

    </div>