<div class=" py-2 border-b-gray-50-solid-1px my-container">
    <div class="flex flex-row justify-between items-center text-secondary">
        <div>Get up 50% off new season styles, limited time only</div>
        <div class="flex flex-row justify-between gap-3">
            <p class="pr-3 border-r-2 border-solid border-gray-50">Help Center</p>
            <p class="pr-3 border-r-2 border-solid border-gray-50">Order Tracking</p>
            <p class="pr-3 border-r-2 border-solid border-gray-50">
                English
                <span class="dropdown-arrow text-black"></span>
            </p>
            <p class="">
                USD
                <span class="dropdown-arrow text-black"></span>
            </p>
            
        </div>
    </div>
</div>
<div class=" border-b-gray-50-solid-1px pb-6 mt-6 my-container">
    <div class="flex flex-row justify-between items-center">
        <div class="w-72 bg-cover">
            <a href="#">
                <img src="https://demos.codezeel.com/prestashop/PRS21/PRS210502/img/logo-1691412328.jpg" class="fluid-img">
            </a>
        </div>
    
        <div class="flex flex-row justify-between items-center gap-2">
            <input type="text" 
                   placeholder="Search product here ..." 
                   style="min-width: 700px;" 
                   class="border rounded border-gray-50 border-solid p-2">
            <button class="btn-primary-uppercase txt-[13px]">
                Search
            </button>
        </div>
    
        <div class="flex flex-row justify-between items-center gap-2">
            <div class="border-r-2 border-solid border-gray-300 px-4 py-2">
                <a href="#" class="text-black">Login / Register</a>
            </div>
            <div class="px-2">
                <a href="#" class="text-black"><i class="fa fa-repeat flex items-center justify-center text-black text-[32px]"></i></a>
            </div>
            <div class="px-2">
                <a href="#" class="text-black"><i class="far fa-heart flex items-center justify-center text-black text-[32px] font-medium"></i></a>
            </div>
            <div class="px-2">
                <a href="#" class="text-black"><i class="fa fa-cart-plus flex items-center justify-center text-black text-[32px]"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="my-container">
    <div class="flex flex-row justify-between items-center font-medium">
        <p class="uppercase">
            <i class="fa fa-star mr-2"></i>
            Shop By Categories
        </p>
    
        <div class="flex flex-row justify-between"> 
            <p class="p-4">Home</p>
            <p class="p-4">Fashion</p>
            <p class="p-4">New Arrivals</p>
            <p class="p-4">All Brands</p>
            <p class="p-4">More</p>
        </div>
    
        <p>
            <i class="fa fa-star mr-2"></i>
            Free International Shipping
        </p>
    </div>
</div>