<style>
    .card-quick-view-container {
        margin-right: auto;
        margin-left: auto;
        width: 95%;
    }
</style>
<div class="absolute top-0 left-0 w-full h-full bg-black opacity-70 z-10">
</div>
<div class="fixed top-0 right-0 w-[500px] h-full bg-white opacity-100 z-20">
    <div class="border-b-gray-50-solid-1px py-4">
        <div class=" clear-fix card-quick-view-container">
            <p class="float-left text-lg font-bold">Shopping Cart (0)</p>
            <p class="float-right text-lg font-bold">X</p>
        </div>
    </div>
    <div class="card-quick-view-container">
        <div class="flex flex-col">
            <div class="clear-fix mt-4">
                <div class="float-left w-24 h-24 border border-gray-50 border-solid rounded px-2 mr-4">
                    <img src="/assets/images/today-is-a-good-day-framed-poster-3.jpg" alt="product image" class="fluid-img">
                </div>
                <div class="float-left">
                    <p class="text-md font-medium">Menu Bottle Salt And Pepper</p>
                    <p class="text-md font-medium">Grinder steel</p>
                    <p class="text-md font-medium">1 X <span class="text-primary font-semibold">$56.95</span></p>
                </div>
                <p class="float-right"><i class="fas fa-trash"></i></p>
            </div>
            <div class="clear-fix mt-4">
                <div class="float-left w-24 h-24 border border-gray-50 border-solid rounded px-2 mr-4">
                    <img src="/assets/images/today-is-a-good-day-framed-poster-3.jpg" alt="product image" class="fluid-img">
                </div>
                <div class="float-left">
                    <p class="text-md font-medium">Menu Bottle Salt And Pepper</p>
                    <p class="text-md font-medium">Grinder steel</p>
                    <p class="text-md font-medium">1 X <span class="text-primary font-semibold">$56.95</span></p>
                </div>
                <p class="float-right"><i class="fas fa-trash"></i></p>
            </div>
            <div class="mt-4 flex flex-row flex-start">
                <div class="w-24 h-24 mr-4">
                    <img src="https://via.placeholder.com/150" alt="product image" class="fluid-img">
                </div>
                <div class="">
                    <p class="text-md font-medium">Menu Bottle Salt And Pepper</p>
                    <p class="text-md font-medium">Grinder steel</p>
                    <p class="text-md font-medium">1 X <span class="text-primary font-semibold">$56.95</span></p>
                </div>
                <p class=""><i class="fas fa-trash"></i></p>
            </div>
        </div>
    </div>
    <div class="border-t border-b border-gray-50 mt-4">
        <div class="card-quick-view-container my-4 font-semibold">
            <div class="clear-fix mt-4">
                <p class="float-left text-sm">1 item</p>
                <p class="float-right text-primary text-md">$56.95</p>                
            </div>

            <div class="clear-fix mt-4">
                <p class="float-left text-sm">Shipping</p>
                <p class="float-right text-primary text-md">$7.00</p>
            </div>
        </div>
    </div>
    <div class="border-solid border-b border-gray-50">
        <div class="card-quick-view-container my-4 font-semibold">
            <div class="clear-fix mt-4">
                <p class="float-left text-sm">Total (tax excl.)</p>
                <p class="float-right text-primary text-md">$63.95</p>
            </div>

            <div class="clear-fix mt-4">
                <p class="float-left text-sm">Total (tax incl.)</p>
                <p class="float-right text-primary text-md">$63.95</p>
            </div>
            <div class="clear-fix mt-4">
                <p class="float-left text-sm">Taxes:</p>
                <p class="float-right text-primary text-md">$0.00</p>
            </div>
        </div>
    </div>
    <div class="card-quick-view-container">
        <div class="flex flex-row justify-between mt-4 gap-4">
            <button class="w-1/2 bg-primary text-sm text-white font-semibold rounded py-2 px-4 uppercase">View Cart</button>
            <button class="w-1/2 bg-primary text-sm text-white font-semibold rounded py-2 px-4 uppercase">Checkout</button>
        </div>
    </div>

    <div class="mt-10 text-center">
        <div class="">
            <div class="bg-[url('/assets/images/2974604.png')] h-[280px] w-2/3 mx-auto bg-no-repeat" style="background-size: 300px auto; background-position: center"></div>
        </div>
        <p class="text-subheading">There are no more items in your cart</p>
        <button class="bg-primary text-sm text-white font-semibold rounded py-3 px-10 uppercase">Continue Shopping</button>
    </div>
</div>