<style>
    .catalog-sidenav-container {
        margin-right: auto;
        margin-left: auto;
        width: 85%;
    }
</style>
<div class="absolute top-0 left-0 w-full h-full bg-black opacity-70 z-10">
</div>
<div class="fixed
 top-0 left-0 w-[500px] h-full bg-white opacity-100 z-20">
    <div class="border-b-gray-50-solid-1px py-4">
        <div class=" clear-fix catalog-sidenav-container">
            <p class="float-left text-lg font-bold">Shop By Categories</p>
            <p class="float-right text-lg font-bold">X</p>
        </div>
    </div>
    <div class="catalog-sidenav-container mt-4">
        <div class="flex flex-col justify-start items-stretch gap-4">
            <div class="clear-fix">
                <p class="float-left">Fashion</p>
                <p class="float-right"><i class="fas fa-plus"></i></p>
            </div>
            <div class="pl-4 flex flex-col justify-start items-stretch gap-4 hidden">
                <!-- xoa hidden de hien thi subcatalog -->
                <div class="clear-fix">
                    <p class="float-left">Apparel</p>
                    <p class="float-right"><i class="fas fa-plus"></i></p>
                </div>
                <div class="clear-fix">
                    <p class="float-left">Outerwear</p>
                    <p class="float-right"><i class="fas fa-plus"></i></p>
                </div>
                <div class="clear-fix">
                    <p class="float-left">Footwear</p>
                    <p class="float-right"><i class="fas fa-plus"></i></p>
                </div>
            </div>
            <div>Jewellery</div>
            <div>Watches</div>
            <div>Outerwear</div>
            <div>Cosmetics</div>
            <div>Accessories</div>
            <div>Electronic</div>
            <div>Sunglasses</div>
            <div>Rolling Diamond</div>
            <div>Xbox Controller</div>
            <div>Leather Watch</div>
            <div>Smart Tablet</div>
            <div>Purse</div>
            <div>Sunglasses</div>
        </div>
    </div>
</div>